.centers.loader-section {
    margin-top: 5%;
    min-height: 100vh;
}

.card.is-loading .center__title .center__title-secondary,
.card.is-loading .center__title .center__title-primary,
.results-container.is-loading .result-count,
.card.is-loading .center__tiles .tile {
    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    border-radius: 12px;
    background-size: 200% 100%;
    -webkit-animation: 1.5s shine linear infinite;
    animation: 1.5s shine linear infinite;
}

.card.is-loading .center__title .center__title-secondary,
.card.is-loading .center__title .center__title-primary {
    height: 15px;
    width: 80%;
}

.results-container.is-loading .result-count {
    height: 20px;
    width: 30%;
}

.card.is-loading .center__tiles .tile {
    height: 50px;
    min-width: 40%;
}

.card.is-loading .center__tiles .tile:nth-child(1) {
    margin-right: 20%;
}

.card.is-loading .center__title .center__title-primary {
    margin-top: 0;
    height: 25px;
}

.card.is-loading .center__title .center__title-secondary {
    width: 25%;
}

.card.is-loading {
    border: none;
}

@-webkit-keyframes shine {
    to {
        background-position-x: -200%;
    }
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}