.centers {
    margin: 0 3%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    flex-direction: row;
    justify-content: flex-start;
}

.center {
    z-index: 1;
    width: 300px;
    display: flex;
    overflow: hidden;
    min-height: 200px;
    position: relative;
    border-radius: 12px;
    padding: 2% 5% 2% 2%;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    margin: auto auto 4% auto;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .25);
}

.result-count {
    margin: auto;
    box-shadow: none;
    margin-bottom: 3%;
    font-weight: normal;
}

.center__title {
    display: flex;
    flex-grow: 1;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
}

.center__title-primary {
    font-size: 1.8rem;
    font-weight: bolder;
}

.center__title-secondary {
    font-size: 1.1rem;
    font-weight: normal;
}

.center__tiles {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: row wrap;
    margin-top: auto;
    justify-content: flex-start;
}

.center__tiles>.tile {
    margin-left: 0;
}

.card__age-limit {
    top: 0;
    right: 0;
    color: #fff;
    text-align: right;
    font-size: 0.8rem;
    position: absolute;
    padding: 2% 5% 2% 5%;
    background: var(--blue);
    border-start-end-radius: 12px;
    border-bottom-left-radius: 12px;
}


@media screen and (max-width: 768px) {
    .centers {
        width: 100vw;
        margin: 0 auto;
        margin-bottom: 50%;
    }

    .center {
        width: 100%;
        margin: 1% 5%;
        padding: 2% 15% 2% 5%;
    }

    .card__age-limit {
        font-size: 0.8rem;
        padding: 2% 3% 2% 4%;
    }

    .result-count {
        margin-left: 5%;
    }

    .center__title-primary {
        font-size: 1.6rem;
        font-weight: bolder;
    }

    .center__title-secondary {
        font-size: 1rem;
    }
}