@import "./switch.css";

.centers {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.center {
    z-index: 1;
    width: 320px;
    display: flex;
    overflow: hidden;
    min-height: 200px;
    position: relative;
    border-radius: 12px;
    padding: 2% 2% 2% 2%;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    margin: auto auto 4% auto;
    border-left: 4px solid var(--blue);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .25);
}

.results-container {
    width: 100%;
    position: sticky;
    background-color: var(--white);
    z-index: 3;
    top: 0;
    padding: 0 3%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 2% auto;
    justify-content: space-between;
    border-radius: 12px;
}

.results-container .result-count {
    font-size: 1.2rem;
    box-shadow: none;
    font-weight: normal;
}

.results-container .filters {
    display: flex;
    min-width: 50%;
    box-shadow: none;
    font-weight: normal;
    align-items: center;
    justify-content: flex-end;
}

.results-container .filters .search__filters {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.center__title {
    display: flex;
    flex-grow: 1;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
}

.center__title-primary {
    font-size: 1.2rem;
    font-weight: bolder;
}

.center hr {
    border-bottom: 1px solid var(--blue);
    width: 2rem;
    margin-left: 0
}

.center__title-secondary {
    font-size: 1rem;
    font-weight: normal;
}

.center__tiles {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: row wrap;
    margin-top: auto;
    justify-content: flex-start;
}

.center__tiles>.tile {
    margin-left: 0;
}

.card__age-limit {
    top: 0;
    right: 0;
    color: #fff;
    text-align: right;
    font-size: 0.8rem;
    position: absolute;
    padding: 2% 5% 2% 5%;
    background: var(--blue);
    border-start-end-radius: 12px;
    border-bottom-left-radius: 12px;
}

.card__image {
    right: 0px;
    height: 30%;
    bottom: 40%;
    opacity: 0.1;
    position: absolute;
}

.center .link__new-tab-icon {
    height: 10px;
    width: 10px;
    object-fit: contain;
}

.center .link__new-tab {
    color: var(--blue);
}

.center .center__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center .center__button {
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    width: calc(50% - 10px);
    height: 65px;
    font-weight: bold;
    color: var(--white);
    background-color: var(--blue);
    font-family: 'Quicksand', sans-serif;
}

.center .center__button.transparent {
    background-color: transparent;
    color: var(--black);
    border: 1px solid var(--blue);
}

.center .center__button:hover {
    color: var(--white);
    background-color: var(--secondary-blue);
}

.center__button.un-available,
.center__button.un-available:hover,
.center__button.un-available:active {
    background-color: var(--red);
    border: 1px solid var(--red);
    cursor: not-allowed;
}



@media screen and (max-width: 768px) {
    .centers {
        padding: 0;
        width: 100vw;
        margin: 0 auto;
        margin-bottom: 5rem;
    }

    .center {
        width: 100%;
        margin: 1% 4%;
        padding: 2% 5% 2% 5%;
        border: none;
    }

    .card__age-limit {
        font-size: 0.8rem;
        padding: 2% 3% 2% 4%;
    }

    .center__title-primary {
        font-size: 1.1rem;
        font-weight: bolder;
    }

    .center__title-secondary {
        font-size: 0.9rem;
    }

    .results-container {
        margin: 4%;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .25);
        /* box-shadow: 0 2px 15px rgba(0, 0, 0, .1); */
    }

    .results-container h2,
    .results-container h3 {
        margin: 0;

    }

    .results-container h2 {
        margin-top: 1rem;
    }

    .results-container .result-count {
        margin-bottom: 1rem;
    }

    .results-container .result-count {
        font-size: 1.1rem;
    }
}