.search-component {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.search {
    padding: 5%;
    display: flex;
    flex-flow: row wrap;
    max-width: 500px;
    overflow-x: hidden;
    justify-content: flex-start;
    font-family: 'Open Sans', sans-serif;
}

.search .flex-item:nth-child(1) {
    width: 100%;
}

.search__input {
    flex: 1;
    height: 30px;
    max-width: 200px;
    text-align: center;
    margin-right: 1%;
    box-shadow: none;
    border-radius: 12px;
    padding: 1rem 3rem;
    background-color: #fff;
    color: #4e4c4a;
    border: 1px solid #4e4c4a;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 0.1rem;
    font-family: 'Open Sans', sans-serif;
}

.search__input:focus {
    background: #fff;
    box-shadow: 0 0 5px#085078;
    border: 1px solid#085078;
    outline: 0;
}

.search__button {
    padding: 1rem 3rem;
    text-align: center;
    border-radius: 12px;
    color: #fff;
    letter-spacing: 0.1rem;
    min-height: 65px;
    cursor: pointer;
    text-decoration: none;
    appearance: none;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #085078;
    background: #085078;
    font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 768px) {

    .search__input {
        margin-bottom: 5%;
        margin-right: auto;
        max-width: 100%;
    }

    .search__button {
        flex: 1;
    }
}