.tile {
    padding: 0.4rem 0.9rem;
    font-size: 0.7rem;
    display: flex;
    border-radius: 5px;
    flex-wrap: wrap;
    margin: 5% 2%;
    justify-content: center;
    color: #fff;
    background: var(--blue);
}