@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');

:root {
  --blue: #2867b2;
  --white: #fff;
}

body {
  height: 100%;
  background: #fff;
  color: #000;
  font-family: 'Open Sans', sans-serif;

}

.App {
  display: flex;
  margin-top: 50px;
  align-items: center;
  flex-flow: column wrap;
  justify-content: center;
}

.container {
  max-width: 1240px;
  width: 1240px;
  margin: 5% 5%;
  margin-bottom: 50px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .25);
  position: relative;
  z-index: 1;
  border-radius: 12px;
  background-color: #fff;
}

.no-margin {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }

  .App {
    margin-top: 10px;
    overflow-x: hidden;
  }
}